*{
    margin: 0 auto;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cabecera{
    width: 100%;
    background-color: #D1172C;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    color: orange;
    font-size: 20px;
    text-align: start;
    align-items: center;
    
}
.logo{
    max-height: 100px;    
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.file{
    display: flex;
    align-items: center;
     justify-content:space-evenly;
    border-bottom: #D1172C 1px solid;
    margin: 0;   
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 350px;
    
}
.txt{
    /* min-width:50%; */
    margin: 0;
    width: 50%; 
    
}
.matricula{
    font-weight: 700;
    margin: 0;
}
.codModelo{    
    margin: 0;
}
.descModelo{
    margin: 0;
}
.coord{
    font-size: 10px;
    margin: 0;
    padding-top: 5px;
}
.imgModelo{
    width: 50%;
    max-height: 90px; 
    margin: 0px;
    border-radius: 5px;
   

}
.imgModelo:hover{
    /* max-height: 150px;
    border-radius: 5px;
    margin-top: 5px; */
}

.boton{
    color: #D1172C;
    border: #D1172C 1px solid;
    border-radius: 5px;
    font-size: 15px;    
    font-weight: 600;
    width: 50%;
}
.filtro{
    display: flex;
    border-bottom: #D1172C 1px solid;
    padding-bottom: 10px;
    gap:10px
}


